body{
    padding: 0;
    margin: 0;
    display: grid;
    place-content: center;
    min-height: 100svh;
}

.card{
    width: 300px;
    height: 500px;
    background-color: skyblue;
    box-shadow: darkgray 0 0 10px 2px;
    display: grid;
    place-content: center;
    font-family: sans-serif;
}
